
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>ATTENTION COVID19</h2>
                <p>Attention, Coronavirus (COVID-19) is dangerous!! That’s Why, most of the schools in the world are closed, but this doesn’t mean that Students will be kept deprived of education.So We have made a portal EDUCATION ONLINE for students & teachers both, where they can register themselves. This will encourage online learning. Teachers will get students & students can choose teachers here. This is absolutely free as its motto is "Free Education for All"</p>
            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">


                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="/img/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Educational Website’s purpose is to transform access to education.</h3>
                        <p class="font-italic">
                            We believe learning should be an enjoyable, social experience, so our courses offer the opportunity to discuss what you’re learning with others as you go, helping you make fresh discoveries and form new ideas. </p>
                        <ul>
                            <li><i class="icofont-check-circled"></i> Visible learning</li>
                            <li><i class="icofont-check-circled"></i> Community supported learning</li>
                            <li><i class="icofont-check-circled"></i> The power of social learning: an effective way to learn</li>
                        </ul>
                        <p>
                            This site offers you a powerful new way to learn online. Every course has been designed according to principles of effective learning, through storytelling, discussion, visible learning, and using community support to celebrate progress.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->


        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>What are they saying</p>
                </div>

                <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam,
                                risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet
                                legam anim culpa.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                                labore illum veniam.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                                culpa fore nisi cillum quid.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Testimonials Section -->
         <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                   <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h2>About The Site</h2>
                        <p>
                          Education Online is created to help students worldwide in this tough time of CoronaVirus. We don't want education to suffer because of it. Education Online will be a free website, we want to provide free education to every student. Our small unit has started this portal. We might not be the biggest but we care for the education of students worldwide. In this era of digitalization, we completely support online education. You might come across different platforms who perform the same task, but ours is absolutely free of cost. So, please tell your colleagues, friends, nearby students etc, about this.
                          Disclaimer - We provide details of students to teachers & teacher's details to the student free of cost. So all payment related discussions should be done by the teacher & student by themselves. 
                          EDUCATION ONLINE WILL NOT BE THE RESPONSIBLE FOR ANY PAYMENT RELATED ISSUES (FRAUD)
                          With due time we'll be adding a separate mathematics portal & a proper online teaching method only on this website so that it will become easy for you to study online.</p>
                    </div>
                      <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h2>Mind Behind Education Online </h2>
                        <p>
                       Sadeqa Nawab - A gold medallist in Graduation in Mathematics, gold medallist of olympiad exam & a distinction holder in Post Graduation in Mathematics with Computer Science. I have experience of teaching online for 4 years. I have taught students from Chicago, Texas, Melbourne, Perth, Abu Dhabi, Sharjah, Jeddah & India. I have expertise in the CBSE mathematics syllabus. Also, I have an experience of teaching Cambridge Maths (Australian Curriculum), Map Test (USA), ACER test (Australian National Curriculum for Mathematics) & Mathematics - Virginia Department of Education.</p>
                    </div>
                      <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h2>Techie Behind Education Online</h2>
                        <p>
                        This website is absolutely free. We don't charge a single penny from teachers or students. But Teachers can ask for payment from the Students, So Payment related discussion should be done by students & teachers themselves. Education Online is not responsible for payment frauds (if they happen). To avoid such circumstances it is advised to use trusted payment methods like Paypal, Paytm, UPI etc. </p>
                    </div>

            </div>
        </section>
        <!-- End About Section -->

    </main>
    <!-- End #main -->