
<h1>{{websiteName}}</h1>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
        <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
            <h1>Learning Today,<br>Leading Tomorrow</h1>
            <h2>You want to make an impact in your classroom. We’re here to help.</h2>
            <a href="/register" class="btn-get-started">Get Started</a>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">
          <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>ATTENTION COVID19</h2>
                <p>Attention, Coronavirus (COVID-19) is dangerous!! That’s Why, most of the schools in the world are closed, but this doesn’t mean that Students will be kept deprived of education.So We have made a portal EDUCATION ONLINE for students & teachers both, where they can register themselves. This will encourage online learning. Teachers will get students & students can choose teachers here. This is absolutely free as its motto is "Free Education for All"</p>
            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About</h2>
                    <p>About Us</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="/img/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Educational Website’s purpose is to transform access to education.</h3>
                        <p class="font-italic">
                            We believe learning should be an enjoyable, social experience, so our courses offer the opportunity to discuss what you’re learning with others as you go, helping you make fresh discoveries and form new ideas. </p>
                        <ul>
                            <li><i class="icofont-check-circled"></i> Visible learning</li>
                            <li><i class="icofont-check-circled"></i> Community supported learning</li>
                            <li><i class="icofont-check-circled"></i> The power of social learning: an effective way to learn</li>
                        </ul>
                        <p>
                            This site offers you a powerful new way to learn online. Every course has been designed according to principles of effective learning, through storytelling, discussion, visible learning, and using community support to celebrate progress.
                        </p>
                        <a href="about" class="learn-more-btn">Learn More</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="content">
                            <h3>Why Choose Education Online?</h3>
                            <p>
                                When you lose sight of your vision, we are here to re-energize you, introduce you to something new, and remind you that your vision isn’t just a dream, it is a calling that you can make a reality. Whether you need a lesson plan that’s aligned to the standards,
                                classroom management tips or a self-care workbook for alleviating stress, you will find thousands of resources curated for teachers by teachers.
                            </p>
                            <div class="text-center">
                                <a href="about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-receipt"></i>
                                        <h4>IMPROVE STUDENT OUTCOMES</h4>
                                        <p>It can be difficult to have a life outside of school when you let the demands of teaching take over every moment of your day. </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-cube-alt"></i>
                                        <h4>FIND THE PERFECT RESOURCE</h4>
                                        <p>As a teacher, you have the ability to make every subject exciting to ensure that each lesson sticks with your students.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-images"></i>
                                        <h4>AN EFFECTIVE LEARNING ENVIRONMENT</h4>
                                        <p>With the help of certified and current classroom teachers, We are building an effective learning environment.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .content-->
                    </div>
                </div>

            </div>
        </section>
        <!-- End Why Us Section -->
          <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                   <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>How does this website work?</h3>
                        <p>
                        Teachers are requested to register themselves at teacher portal & students are requested to register at student portal. After successful registration, teachers can view students details & students can view teachers' details. Contact number & EMail ID will be provided by both the parties, hence you can contact each other via Whatsapp or through Gmail. </p>
                    </div>
                      <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>How to teach online?</h3>
                        <p>
                        To teach online, one needs to have a skype account as the screen sharing facility is there. Also to teach Mathematics or the subjects which mostly require pen work, teachers need to have a digital pen (available online on amazon). If you don’t have a digital pen you can try teaching with video call on skype or whatsapp (wherever camera quality is good). For Online Methods, both parties need to have a strong internet connection.</p>
                    </div>
                      <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Payment Method</h3>
                        <p>
                        This website is absolutely free. We don't charge a single penny from teachers or students. But Teachers can ask for payment from the Students, So Payment related discussion should be done by students & teachers themselves. Education Online is not responsible for payment frauds (if they happen). To avoid such circumstances it is advised to use trusted payment methods like Paypal, Paytm, UPI etc. </p>
                    </div>

            </div>
        </section>
        <!-- End About Section -->

    </main>
    <!-- End #main -->

