
    <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">
                <h2>Instructions Before Sign-up</h2>
                <p>To all Teachers and Students before signing up, please take an advisory which is mention below. Thank You</p>
            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= Courses Section ======= -->
        <section id="courses" class="courses">
            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="zoom-in" data-aos-delay="100">

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                        <div class="course-item">
                            <img src="/img/course-1.jpg" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>TEACHERS</h4>
                                </div>
                                <h3><a href="/rules#rules-teachers">Click Here</a></h3>
                                <p>Before signing up, few advisory which we like to give to all the aspiriung teachers who wants to join here.</p>

                            </div>
                        </div>
                    </div>
                    <!-- End Course Item-->

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="course-item">
                            <img src="/img/course-2.jpg" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>STUDENTS</h4>
                                </div>

                                <h3><a href="/rules#rules-students">Click Here</a></h3>
                                <p>Before signing up, few advisory which we like to give to all the aspiriung students who wants to join here.</p>

                            </div>
                        </div>
                    </div>
                    <!-- End Course Item-->

                </div>

            </div>
        </section>
        <!-- End Courses Section -->

    </main>
    <!-- End #main -->