<main id="main">
<!-- ======= Breadcrumbs ======= -->
<div class="wrapper pt-4">
      {{#if firstTime}}
          <div class="alert alert-info alert-dismissible fade show" style="position:absolute; bottom:100px; z-index:99">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>Logged in Successfully...</span>
          </div>
      {{/if}}
      <div class="content pt-5">
        <div class="row mx-0">
          <div class="col-lg-3 col-md-6 col-sm-6">
            Section
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            Section
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            Section
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            Section
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-md-12">
            Section
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-md-4">
            Section
          </div>
          <div class="col-md-8">
            Section
          </div>
        </div>
      </div>
      {{>footer-dashboard}}
    </div>
  </div>
</main>