 <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" id="rules-teachers" data-aos="fade-in">
            <div class="container">
                <h2>Welcome Teacher</h2>
                <p>Take a note before sign-up</p>
            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= Cource Details Tabs Section ======= -->
        <section class="cource-details-tabs">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-12 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Advisory For Teachers</h3>
                                        <ul>
                                            <li>
                                                It’s a request from the team of Education Online, please charge according to the current situation of the World. Whole World is going through a crisis. Education Online emphasizes on “Free Education for all”, so please try to give free education.
                                            </li>
                                            <li>
                                                Give your profile one liner description
                                            </li>
                                            <li>
                                                Provide all qualification details & experience details (if any) precisely
                                            </li>
                                            <li>
                                                You can contact the student on Whatsapp, Gmail or by simply calling.
                                            </li>
                                            <li>
                                                If you have to take a fee, always discuss it before taking the class.
                                            </li>
                                            <li>
                                                Do not give more than one demo class
                                            </li>
                                            <li>
                                                Take your fees at regular intervals
                                            </li>
                                            <li>
                                                Take students only after you have seen their syllabus, don't take students if you can't teach them of their level.
                                            </li>
                                            <li>
                                                Tools needed to teach online - Skype, Microsoft Paint or Microsoft OneNote, Digital Pen (Recommended for Maths & subjects which need pen work).
                                            </li>
                                            <li>
                                                Material will either be provided by the student or you can get it from the internet
                                            </li>
                                            <li>
                                                Last but not the least - Keep Smiling & Keep serving!!
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                       <img src="./img/course-details-tab-3.png" alt="" class="img-fluid">
                                    </div>
                              </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Cource Details Tabs Section -->

           <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" id="rules-students" data-aos="fade-in">
            <div class="container">
                <h2>Welcome Student</h2>
                <p>Take a note before sign-up</p>
            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= Cource Details Tabs Section ======= -->
        <section class="cource-details-tabs">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-12 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Advisory For Students</h3>
                                        <ul>
                                            <li>
                                                To all the students worldwide, we are here to help you. This portal is created especially for you people </li>
                                            <li>
                                                Register yourself here.
                                            </li>
                                            <li>
                                                After successful registration, choose the subject for which you are looking for a teacher.
                                            </li>
                                            <li>
                                                Then choose the teacher according to your needs. You’ll be able to see the details of the teacher.
                                            </li>
                                            <li>
                                                You can contact the teacher on Whatsapp, Gmail or by simply calling.
                                            </li>
                                            <li>
                                                Always discuss fees related issues before taking the class.
                                            </li>
                                            <li>
                                                Do not take more than one demo class
                                            </li>
                                            <li>
                                                Give fees at regular intervals
                                            </li>
                                            <li>
                                                Discuss syllabus with your teacher before-hand & ask them will they be able to teach at your level
                                            </li>
                                            <li>
                                                Choose your teacher wisely.
                                            </li>
                                            <li>
                                                Last but not the least - Keep Smiling & Keep serving!!
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                       <img src="./img/course-details-tab-3.png" alt="" class="img-fluid">
                                    </div>
                              </div>


                            </div>
                     </div>
                        
                    </div>
                     
                </div>

            </div>
        </section>
        <!-- End Cource Details Tabs Section -->

    </main>
    <!-- End #main -->